@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

@section Styles {
    @* <link rel="stylesheet" href="~/css/Index.css" /> *@
    <style>
        .input-group {
            margin-bottom: 10px;
        }

        .input-group input[type="text"] {
            width: 800px;
            margin-right: 10px;
        }

        /* Solid border */
        hr.solid {
            border-top: 3px solid #bbb;
        }
        
    </style>
}

<form id="ttsForm" method="post">
    <div id="inputContainer">
        <div class="input-group">
            <input type="text" name="UserInputs[0].Text" class="text-input" placeholder="Enter text here" />
            <div class="gender-inputs">
                <label><input type="radio" name="UserInputs[0].Gender" value="Male" checked> Male</label>
                <label><input type="radio" name="UserInputs[0].Gender" value="Female"> Female</label>
            </div>
        </div>
    </div>
    <button type="button" id="addButton">+ Add Input</button>
    <button type="submit">Convert to Speech</button>


</form>

<div id="audioContainer"></div>
<button type="button" id="combineButton">Combine Audio</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        let inputCount = 1;

        $('#addButton').click(function () {
            $('#inputContainer').append(`
                    <div class="input-group">
                        <input type="text" name="UserInputs[${inputCount}].Text" class="text-input" placeholder="Enter text here" />
                        <div class="gender-inputs">
                            <label><input type="radio" name="UserInputs[${inputCount}].Gender" value="Male" checked> Male</label>
                            <label><input type="radio" name="UserInputs[${inputCount}].Gender" value="Female"> Female</label>
                        </div>
                    </div>
                `);
            inputCount++;
        });

        $('#ttsForm').on('submit', function (event) {
            event.preventDefault();
            
            $.ajax({
                url: '@Url.Page("Index")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (audioUrls) {
                    $('#audioContainer').empty();
                    audioUrls.forEach(function (audioUrl) {
                        const audioElement = `<div><audio controls src="${audioUrl}"></audio></div>`;
                        $('#audioContainer').append(audioElement);
                    });
                },
                error: function () {
                    alert("An error occurred while processing your request.");
                }
            });
        });


        $('#combineButton').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Page("Index", "Combine")',
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.combinedFileUrl) {
                        const combinedAudioElement = `<div><audio controls src="${result.combinedFileUrl}"></audio></div>`;
                        $('#audioContainer').append(combinedAudioElement);
                    }
                },
                error: function () {
                    alert("An error occurred while processing your request.");
                }
            });
        });

    });
</script>




